extends ../layout/main
block variable
    -
        var pageName = 'filter';
    -
        var db_range = [
        {
            id: 'total_square',
            label: 'Загальна площа',
            min: 0,
            max: 100,
            from : 0,
            to : 100,
        },
        
        {
            id: 'life_square',
            label: 'Житлова площа',
            min: 0,
            max: 100,
            from : 0,
            to : 100,
        },
        // {
        //     id: 'room',
        //     label: 'Кімнати',
        //     min: 0,
        //     max: 186,
        //     from : 0,
        //     to : 186,
        // },

        {
            id: 'floor',
            label: 'Поверх',
            min: 5,
            max: 25,
            from : 5,
            to : 25,
        },
        ];
        var db_filter = [  
        {
            label: 'Кімната 2А',
            total_square: 33,
            life_square: 25,
            room: 4,
            section: 1,
            floor : 6,
            href: '#',
            image: './assets/images/temp/0.jpg',

        },
        {
            label: 'Кімната 24А',
            total_square:30,
            life_square: 20,
            room: 3,
            section: 2,
            floor : 10,
            href: '/',
            image: './assets/images/temp/0.jpg',

        },
        {
            label: 'Кімната 232А',
            total_square: 60,
            life_square: 30,
            room: 3,
            section: 2,
            floor : 15,
            href: '/',
            image: './assets/images/temp/0.jpg',

        },
        {
            label: 'Кімната 254А',
            total_square: 50,
            life_square: 45,
            room: 2,
            section: 1,
            floor : 20,
            href: '/',
            image: './assets/images/temp/0.jpg',
          //ro : 13,

        },
        {
            label: 'Кімната 298А',
            total_square: 70,
            life_square: 65,
            room: 2,
            section: 2,
            href: '/',
            image: './assets/images/temp/0.jpg',
            floor : 21,
        },
        {
            label: 'Кімната 112А',
            total_square: 95,
            life_square: 88,
            room: 1,
            section: 2,
            floor : 25,
            href: '/',
            image: './assets/images/temp/0.jpg',
        },
        {
            label: 'Кімната 452А',
            total_square: 60,
            life_square: 50,
            room: 1,
            section: 2,
            href: '/',
            image: './assets/images/temp/0.jpg',
            floor : 9,
        },
        ]
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/filter.js')
block content
    .layout__white
        .wrapper.first
            .breadcrumbs-wrapper
                h1.page-title Підбір за параметрами
                .breadcrumbs-block
                    .checkbox-block__title 
                    a(href="/").link Головна
                    a().link.current-link  Підбір за параметрами
        .wrapper.filter-controls
            .text-standart.checkbox-block 
                .checkbox-block__title Будинок
                .filter-checkbox(data-name="build" data-value="1")
                    input(type="checkbox" value='1' data-key="section").js-section
                .filter-checkbox(data-name="build" data-value="2")
                    input(type="checkbox" value='2' data-key="section").js-section
            .text-standart.checkbox-block
                .checkbox-block__title Кімнати
                .filter-checkbox(data-name="rooms" data-value="1" data-key="room")
                    input(type="checkbox" value='16' data-key="room").js-room
                .filter-checkbox(data-name="rooms" data-value="2" data-key="room")
                    input(type="checkbox" value='2' data-key="room").js-room
                .filter-checkbox(data-name="rooms" data-value="3" data-key="room")
                    input(type="checkbox" value='3' data-key="room").js-room
                .filter-checkbox( data-value="4" data-key="room")
                    input(type="checkbox" value='4' data-key="room").js-room
            ul.range-wrapper
                each v in db_range
                    // range item
                    li.range-item.js-range-item
                        h4.range-item__label.text-standart=v.label
                        //- .u-range-item-nav
                        //- .u-range-item-nav-wrap
                        //-     span.u-range-item-nav__text з
                        //-     input.js-current-min(class= "js_"+v.id+"_min" id= v.id+" " name= v.id+"_min" type="number" min= v.min value= v.min max= v.max)
                        //- .u-range-item-nav-wrap
                        //-     span.u-range-item-nav__text по
                        //-     input.js-current-max(class= "js_"+v.id+"_max" id= v.id+"_max" name= v.id+"_max" type="number" min= v.min value= v.max max= v.max)
                        input.js-range-init(id= v.id type="hidden" data-from= v.from data-min= v.min data-to= v.to data-max= v.max)
                    // range item
            .result-count-info-wrapper
                .text-standart 
                    span За вашими параметрами знайдено 
                    span.js-number_flats 142
                    span  квартир
                .text-standart.red.reset-button.js-reset_button
                    span Скинути параметри
                    +svg('trash-can-icon')
            .button.text-small.transparent.js-button_search.filter-button.hvr-bounce-to-right Фільтрувати
    .layout
        .wrapper.filter-result-block
            .filter-result-block__header
            .filter-tab-nav
                button(type="button" data-index="0").button--res.underline.js-filter-tab-nav-btn.filter-tab-nav-btn.filter-tab-nav-btn--current Плитка
                button(type="button" data-index="1").button--res.underline.js-filter-tab-nav-btn.filter-tab-nav-btn Список
            .filter-result-block__body
                .filter-tab--active.active.js-filter-result-block-tab.filter-result-block-tab.card-result(data-index="0")
                    each val, i in db_filter
                        a( data-href= val.href data-image= val.image data-total_square= val.total_square data-life_square= val.life_square data-room= val.room data-floor= val.floor data-section= val.section).js-flat-item.card-filter
                            .card-filter__img
                                +img('temp/'+i+'.jpg')
                            ul.card-filter-list.card-filter__list
                                li.card-filter__title.subtitle= val.label
                                li.card-filter-list-item
                                    span.card-filter-list-item__key Поверх
                                    span.card-filter-list-item__val= val.floor
                                li.card-filter-list-item
                                    span.card-filter-list-item__key Кімнат
                                    span.card-filter-list-item__val= val.room
                                li.card-filter-list-item
                                    span.card-filter-list-item__key Загальна площа м
                                        <sub> 2
                                    span.card-filter-list-item__val= val.total_square
                                li.card-filter-list-item
                                    span.card-filter-list-item__key Житлова площа м
                                        <sub> 2
                                    span.card-filter-list-item__val= val.life_square
                                li.card-filter__btn.card-filter-btn
                                    span.card-filter-btn__text.link-standart.arrow-after Детальніше
                .js-filter-result-block-tab.filter-result-block-tab.filter-result-block-tab-table(data-index="1")
                    .js-table-flat.table-flat
